<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{company}} - {{siteName}}</title>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>

<div id="rootContainer">
    <div id="title" style="background: url({{companyLogo}}) no-repeat;">
        {{siteName}}<br/>
        {{company}}
    </div>

    <div id="error-container">
        <h1>{{error}}</h1>
    </div>

</div>
</body>
</html>