<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{company}} - {{siteName}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>

<div id="rootContainer">
    <div id="title" style="background-image:url({{companyLogo}})">{{company}} :: {{siteName}}</div>

    <div id="underconstruction">
        <div id="construction-image-container">
            <img alt="Under Construction" src="/images/underconstruction.jpg">
        </div>
        <div id="construction-text">
            currently under constructions<br/>
            please check back later2
        </div>
    </div>

    <div style="background-color:rgba(250, 250, 250, 0.5); height:60px">&nbsp;</div>
</div>

</body>
</html>
